div{
}
body{
    margin: 0;
    padding: 0;
    background-color: #cccccc;
    font-family: fantasy;
}
#torol{
    clear: both;
}
#nagy{
    height: 95%;
    padding: 1px;
}
#nagyfocim{
    width: 100%;
    height: 15%;
    text-align: center;
}
#tartalom{
    width: 100%;
    height: 800px;
    padding-top: 30px;
}
#zoldize{
    margin: auto;
    border-radius: 0;
    background-color: #999999;
    animation-name: na;
    animation-duration: 2s;
    width: 90%; height: 90%;
    font-size: 50px;
}
#menuk{
    display: none;
    text-align: center;
    height: 100%;
    width: 90%;
    margin: auto;
    padding-top: 30px
}

.almenu{
    width: 40%; height: 288px;
    margin: 10px 0;
    float: left;
    background-color: #666666;
    display: none;
    animation: v 1s;
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 0 0 3px gray;
    box-shadow: 0 0 1px gray;
}
.almenu:hover{
    text-shadow: 0 0 25px white;
    box-shadow: 0 0 15px lightgrey;
    transition: text-shadow 0.5s, box-shadow 0.5s;
}
#m1, #m3{
    margin-left: 9%;
    float: left;
}
#m2, #m4{
    margin-right: 9%;
    float: right;
}

#m1{
    background-image: url("ass/keyboardcat.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    
}

@keyframes na{
    0% {width: 40px; height: 40px; border-radius: 40px; background-color: red; color: red;}
    25% {width: 40px; height: 40px; border-radius: 40px; background-color: #999999; color: #999999;}
    50% {width: 90%; height: 40px;}
    75% {width: 90%; height: 90%; border-radius: 0px; color: #999999;}
    100% {width: 90%; height: 90%; border-radius: 0; color: #000000;}
}
@keyframes v{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes s{
    from{text-shadow: 0 0 3px gray; box-shadow: none;}
    to{text-shadow: 0 0 15px lightgrey; box-shadow: 10px 10px 5px lightgrey;}
}