div{
    border: 1px dotted red;
}
body{
    margin: 0;
    padding: 0;
    background-color: #cccccc;
    font-family: fantasy;
}
#torol{
    clear: both;
}
#nagy{
    height: 95%;
    padding: 1px;
}
#nagyfocim{
    width: 100%;
    height: 15%;
    text-align: center;
}
#tartalom{
    width: 100%;
    height: 800px;
    padding-top: 30px;
}
#zoldize{
    margin: auto;
    border-radius: 0;
    background-color: #999999;
    animation-name: na;
    animation-duration: 2s;
    width: 90%; height: 90%;
    font-size: 50px;
}
#menuk{
    display: none;
    text-align: center;
    height: 100%;
    width: 90%;
    margin: auto;
}

.almenu{
    width: 40%; height: 288px;
    margin: 10px 0;
    float: left;
    border: 1px solid black;
    background-color: #999999;
    display: none;
    animation: v 1s;
}
#m1, #m3{
    margin-left: 9%;
    float: left;
}
#m2, #m4{
    margin-right: 9%;
    float: right;
}

#m1{
    
    
}

@keyframes na{
    0% {width: 40px; height: 40px; border-radius: 40px; background-color: red; color: red;}
    25% {width: 40px; height: 40px; border-radius: 40px; background-color: #999999; color: #999999;}
    50% {width: 90%; height: 40px;}
    75% {width: 90%; height: 90%; border-radius: 0px; color: #999999;}
    100% {width: 90%; height: 90%; border-radius: 0; color: #000000;}
}
@keyframes v{
    from{opacity: 0;}
    to{opacity: 1;}
}